<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{{ css }}</style>
    <script type="application/json" id="array_graph_json_zstd_base64">{{ array_graph_json_zstd_base64 }}</script>
    <script type="module" type="text/javascript">
        {{ js }}
    </script>
    <title>Unigraph</title>
</head>

<body>
    <div id="root" />
</body>

</html>
